<h1 class="main-header">Airport<span class="logo-2">Run</span> <%= image_tag('airplane-3') %></h1>
<h3>New User Sign-Up - it's quick & easy</h3>

<div class="sign-up">
  <button class="sign-up-button">Sign Up</button>
  <form id="sign-up-form">
    <select>
      <option value="select">Select Hotel</option>
      <option value=">Marriott">Marriott</option>
      <option value="Sheraton">Sheraton</option>
      <option value="Hilton">Hilton</option>
      <option value="Hyatt Regency">Hyatt Regency</option>
      <option value="Crowne Plaza">Crowne Plaza</option>
      <option value="Holiday Inn">Holiday Inn</option>
    </select>
    <br>
    <select>
      <option value="select">Choose an Icon</option>
    </select>
    <br>
    Nickname: <input type="text" name="nickname" placeholder="choose your nickname">
    <button type="submit">Submit</button>
  </form>
</div>

<div class="users">
  <p>Current Users:</p>
</div>
