<div class="container">
  <div class="row">
    <span class="col-xs-8 pull">Refer Hotel Guests.  Get Cash</span>
  </div>
  <div class="row">
    <div class="col-md-8 homepage_copy">AirportRun is a fast ride service to help hotel guests get to the airport.  You make money for each guest that you refer.</div>
  </div>
  <div class="row" id="homepage-button-row">
    <div class="col-md-3">
      <a href="#sign-up-page" class="ghost-button">Sign-Up<a>
    </div>
    <div class="col-md-3">
      <a href="#current-users-page" class="ghost-button">Current Users<a>
    </div>
  </div>
</div>
