 <div id="mainContainer">
  <div id="topSectionDiv">
   <svg id="entireLogo" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="75"> 
    <g id="entireLogo1" transform="scale(1 1)">

      <g id="logoPart1" transform="scale(1 1)">

        <rect id="logoBox" x="0" y="0" width="0" height="0" fill="#00aa77" rx="12" ry="12"></rect>
        <g transform="translate(-10 -10)">
          <g id="logoLetters" style="visibility:hidden"> 

            <circle id="letterO" cx="50" cy="50" r="25" stroke="white" stroke-width="6" fill="#00aa77"></circle> <!-- fill="#88eebf" -->

            <path id="letterN" d="M87 71 v-30 m0 10 a2 2 0 0 1 20 0 v20" stroke-width="5" stroke="white" fill="none"></path>

            <path d="M102 30 h18" stroke-linejoin="round" stroke="#ffffff" stroke-width="5" fill="none" ></path>

            <path id="letterT" d="M121 30 h18 h-18 v42"  stroke="#00aa77" stroke-width="5" fill="none" ></path>

            <path id="letterY" d="M133 40 v15 q-1 11 10 10 h10 m0 -25 v35 q1 11 -10 10 h-11" stroke-width="5" stroke="#00aa77" fill="none"></path>

            <path id="letterM" d="M167 71 v-30 m0 10 a2 2 0 0 1 20 0 v20 m0 -20 a2 2 0 0 1 20 0 v20" stroke="#00aa77" stroke-width="5" fill="none" ></path>

            <path id="letterE" d="M220 54 h30 a2 2 0 0 0 -30 1 a2 2 0 0 0 30 3" stroke="#00aa77" stroke-width="5" fill="none" ></path>
          </g> <!-- end  <g id="logoLetters" --> 
          <g id="clock" style="visibility:hidden">
            <rect id="bar1" fill="#f8f8f8" x="49" y="30" width="3" height="7"></rect>
            <rect id="bar2" fill="#f8f8f8" x="63" y="49" width="7" height="3"></rect>
            <rect id="bar3" fill="#f8f8f8" x="49" y="63" width="3" height="7"></rect>
            <rect id="bar4" fill="#f8f8f8" x="30" y="49" width="7" height="3"></rect>
            <line id="hourHand" x1="50" y1="50" x2="50" y2="33" stroke="#505050" stroke-width="2" transform="rotate(60 50 50)"></line>
            <line id="minuteHand" x1="50" y1="50" x2="50" y2="33" stroke="#505050" stroke-width="2" transform="rotate(-30 50 50)"></line>
            <line id="secondHand" x1="50" y1="50" x2="50" y2="30" stroke="#990000" stroke-width="1" transform="rotate(0 50 50)"></line>
            <circle cx="50" cy="50" r="3" stroke="none" fill="#353535" ></circle>
            <circle id="blockCircle" cx="50" cy="50" r="22" stroke="none" fill="#00aa77" fill-opacity="1"></circle>
          </g> <!-- end  <g id="clock"  --> 
        </g> <!-- end <g transform="translate(-10 -10)"  --> 
      </g> <!-- end <g id="logoPart1"   --> 
      <g id="logoPart2">
        <text id="logoPhrase2" font-family="Arial" font-weight="bold" stroke="none" fill="#4f554f">Women Drivers for Women Riders</text>
      </g> <!-- end  <g id="logoPart2">   -->
    </g> <!-- end  <g id="entireLogo1" --> 
  </svg>  
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150">
    <text id="logoPhrase1" x="0" y="0" dx="30" dy="63" font-size="32" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
  </svg>
  <div id="logoPhrase2Parent">
    <button id="signUpBtn">Sign Up</button>
  </div>
</div> <!-- end topSectionDiv -->

<div id="midSectionDiv">
<form id="go-to-user" style="margin: 0; padding: 0;" action=""> <p style="float: left; display: inline-block;">For Users:<br><input type="text" placeholder="User ID"><button class="" type="submit">Go</button></p></form>
<form id="go-to-user" style="margin: 0; padding: 0;" action="">
<p style="float: right; display: inline-block;">For Drivers:<br><input type="text" placeholder="Driver ID"><button class="" type="submit">Go</button></p></form>
<div id="styleDiv">
 <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="292" height="189">
   <g
   transform="translate(-0.72298272,0.16317695)"
   id="carGroup" >
   <g
   transform="matrix(0.23214287,0,0,0.20758929,129.14286,2.2339388)"
   id="g50">
   <path
   style="fill:#3a3434" stroke-width="4" stroke="#3a3434" fill-opacity="0"
   d="m 160,252.90323 h 96 c -35.375,0 -64,-28.656 -64,-64 v -32 c 64,0 64,-64.000006 64,-64.000006 0,0 0,64.000006 64,64.000006 v 32 c 0,35.344 -28.688,64 -64,64 h 96 c 17.688,0 32,-14.328 32,-32 -17.688,0 -32,-14.328 -32,-32 v -64 c 0,-53.016006 -43,-96.000005 -96,-96.000005 -53.063,0 -96,42.983999 -96,96.000005 v 64 c 0,17.672 -14.344,32 -32,32 0,17.672 14.313,32 32,32 z"
   id="carPart1" ></path>
   <path
   style="fill:#00aa77" stroke-wdith="4" stroke="#00aa77" fill-opacity="0"
   d="m 352,288 h -64 l 32,32 -64,96 -64,-96 32,-32 h -64 c -35.375,0 -64,28.656 -64,64 v 64 64 c 0,17.688 14.313,32 32,32 h 256 c 17.688,0 32,-14.312 32,-32 v -64 -64 c 0,-35.344 -28.688,-64 -64,-64 z"
   id="carPart2" ></path>
 </g> <!-- end    <g transform="matrix(0.23214287,0,0,0.20758929,129.14286,2.2339388)" id="g50" -->
 <path
 d="m 63.044668,3.0686055 c -12.02631,0.98767 -19.57214,8.3835095 -23.71874,18.7499995 l -19.31251,49.21874 15.56251,-1.03125 16.96874,-43.12499 c 1.55499,-3.62827 5.70551,-7.16916 10.5,-7.6875 44.767012,-5.89367 104.596472,-6.21939 155.718712,0 4.79448,0.51834 8.85126,4.05923 10.40625,7.6875 l 16.96874,43.12499 15.5625,1.03125 -19.3125,-49.21874 C 238.24174,11.452115 230.66912,4.2693355 218.76338,3.0686055 c -44.85164,-4.52341 -105.92629,-4.089211 -155.718712,0 z M 140.85715,66.068595 c -35.39855,0.16437 -70.718522,3.32294 -105.843722,7.59375 -14.66472,2.05228 -24.29215,5.23537 -29.5312496,13.78124 -10.19916,16.636705 -4.29703,43.218735 20.5312496,43.218735 h 101.343722 27 101.34372 c 24.82826,0 30.7304,-26.58203 20.53124,-43.218735 -5.2391,-8.54587 -14.86652,-10.60396 -29.53124,-12.65625 -35.1515,-3.84883 -70.43662,-8.88316 -105.84372,-8.71874 z M 32.200928,85.099835 c 10.15941,0 18.37499,8.2156 18.37499,18.374995 0,10.15937 -8.21558,18.46877 -18.37499,18.46874 -10.15939,0 -18.46875,-8.30937 -18.46876,-18.46874 0,-10.159385 8.30937,-18.375045 18.46876,-18.374995 z m 217.406192,0 c 10.15938,-5e-5 18.375,8.21561 18.375,18.374995 -3e-5,10.15937 -8.21562,18.46874 -18.375,18.46874 -10.15941,3e-5 -18.46874,-8.30937 -18.46874,-18.46874 0,-10.159395 8.30933,-18.374995 18.46874,-18.374995 z M 5.4821784,134.88107 c -2.58435,0 -4.6875,2.0094 -4.6875,4.59375 v 6.1875 c 0,2.58435 2.10315,4.78124 4.6875,4.78124 h 8.9999896 v 28.96875 c 0,3.96486 3.25384,7.21874 7.21875,7.21874 h 27.46875 c 3.96491,0 7.21875,-3.25382 7.21875,-7.21874 v -28.96875 h 59.624992 49.78123 59.62499 v 28.96875 c 0,3.96492 3.16011,7.21874 7.125,7.21874 h 27.46874 c 3.96492,0 7.21875,-3.25388 7.21875,-7.21874 v -28.96875 h 8.99999 c 2.58432,0 4.6875,-2.19689 4.6875,-4.78124 v -6.1875 c 0,-2.58435 -2.10315,-4.59375 -4.6875,-4.59375 H 156.7009 125.0134 Z"
 id="carPart3"
 style="fill:#4f554f" stroke-width="2" stroke="#363636" fill-opacity="0" ></path>
 <line x1="-45" y1="187" x2="325" y2="187" stroke="#000000" stroke-width="1"></line>
</g>

</svg>
</div>

<div id="requestRideBtnDiv">
  <button id="requestRideBtn" type="button" data-toggle="modal" data-target="#rideRequestModal" onmouseout="doStyle(this,'out')" onmousedown="doStyle(this,'down')">Get a Ride</button>
</div>


<div id="rideSafely">
  <div id="termsOfService">
    By clicking "Get a Ride", you agree to the <span>terms of service</span> and <span>privacy policy</span> of Ontyme Inc
  </div>
</div>

</div> <!-- midSectionDiv -->

<div id="termsOfServiceParent">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
    <text dx="0" dy="18" font-size="16" font-family="Verdana" font-weight="bold" fill="white">Ride With Confidence and In Comfort</text>
  </svg>

</div>
</div>
