<div class="container-fluid">
    <div class="row">      
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="700" height="150"> 
            <g id="entireLogo" transform="scale(1 1)">
              <rect id="logoBox" x="0" y="0" width="0" height="0" fill="#00804f" rx="12" ry="12"/>
              <g id="logoLetters" style="visibility:hidden">
              <circle id="ds1" cx="53" cy="53" r="25" stroke="#4A4A4A" stroke-width="4" fill="#4A4A4A" style="visibility:hidden"/>  
  
              <circle id="letterO" cx="50" cy="50" r="25" stroke="white" stroke-width="4" fill="none"/>
  
              <path id="ds2" d="M92 74 v-30 m0 30 v-20 a2 2 0 0 1 20 0 v21" stroke-width="4" stroke="#505050" stroke-linecap="round" fill="none" style="visibility:hidden"/>  

              <path id="letterN" d="M90 72 v-30 m0 30 v-20 a2 2 0 0 1 20 0 v21" stroke-width="4" stroke="white" stroke-linecap="round" fill="none"/>

              <path id="letterT" d="M123 30 h36 m-18 0 v 45" stroke-linejoin="round" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />

              <path id="letterY" d="M167 45 l13 26 m14 -26 l-23 48" stroke-width="4" stroke-linecap="round" stroke="#00804f" />

              <path id="letterM" d="M209 40 v35 m0 -25 a2 2 0 0 1 20 0 v25 m0 -25 a2 2 0 0 1 20 0 v25" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />

              <path id="letterE" d="M268 54 h32 a2 2 0 0 0 -35 1 a2 2 0 0 0 35 8" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />
              </g>

              <g id="clock" style="visibility:hidden">
                <line id="hourHand" x1="50" y1="50" x2="50" y2="33" stroke="#ffffff" stroke-width="2" transform="rotate(60 50 50)"/>
                <line id="minuteHand" x1="50" y1="50" x2="50" y2="33" stroke="#ffffff" stroke-width="2" transform="rotate(-30 50 50)"/>
                <line id="secondHand" x1="50" y1="50" x2="50" y2="30" stroke="#000000" stroke-width="2" transform="rotate(0 50 50)"/>
                <circle cx="50" cy="50" r="3" stroke="#000000" fill="#000000" />
              </g>
            </g>
            </svg>  
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150">
              <text id="logoPhrase1" x="0" y="0" dx="30" dy="63" font-size="32" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
            </svg>
    </div>
    <div class="row">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150"> 
              <text id="logoPhrase2" x="0" y="0" dx="0" dy="33" font-size="32" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="rideComfortably">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
              <text dx="110" dy="49" font-size="32" font-family="Verdana" fill="#4d4d4d">Ride Comfortably</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="rideSafely">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
              <text dx="165" dy="49" font-size="32" font-family="Verdana" fill="#4d4d4d">Ride Safely</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="requestRideBtnDiv">
            <button id="requestRideBtn" type="button">Get A Ride</button>
          </div>
    </div>




</div>

