<div class="container-fluid">
    <div class="row">      
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="700" height="150"> 
            <g id="entireLogo" transform="scale(1 1)">
              <rect id="logoBox" x="0" y="0" width="0" height="0" fill="#00804f" rx="12" ry="12"/>
              <g id="logoLetters" style="visibility:hidden">
              <circle id="ds1" cx="53" cy="53" r="25" stroke="#4A4A4A" stroke-width="4" fill="#4A4A4A" style="visibility:hidden"/>  
  
              <circle id="letterO" cx="50" cy="50" r="25" stroke="white" stroke-width="4" fill="none"/>
  
              <path id="ds2" d="M92 74 v-30 m0 30 v-20 a2 2 0 0 1 20 0 v21" stroke-width="4" stroke="#505050" stroke-linecap="round" fill="none" style="visibility:hidden"/>  

              <path id="letterN" d="M90 72 v-30 m0 30 v-20 a2 2 0 0 1 20 0 v21" stroke-width="4" stroke="white" stroke-linecap="round" fill="none"/>

              <path id="letterT" d="M123 30 h36 m-18 0 v 45" stroke-linejoin="round" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />

              <path id="letterY" d="M167 45 l13 26 m14 -26 l-23 48" stroke-width="4" stroke-linecap="round" stroke="#00804f" />

              <path id="letterM" d="M209 40 v35 m0 -25 a2 2 0 0 1 20 0 v25 m0 -25 a2 2 0 0 1 20 0 v25" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />

              <path id="letterE" d="M268 54 h32 a2 2 0 0 0 -35 1 a2 2 0 0 0 35 8" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />
              </g>

              <g id="clock" style="visibility:hidden">
                <line id="hourHand" x1="50" y1="50" x2="50" y2="33" stroke="#ffffff" stroke-width="2" transform="rotate(60 50 50)"/>
                <line id="minuteHand" x1="50" y1="50" x2="50" y2="33" stroke="#ffffff" stroke-width="2" transform="rotate(-30 50 50)"/>
                <line id="secondHand" x1="50" y1="50" x2="50" y2="30" stroke="#000000" stroke-width="2" transform="rotate(0 50 50)"/>
                <circle cx="50" cy="50" r="3" stroke="#000000" fill="#000000" />
              </g>
            </g>
            </svg>  
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150">
              <text id="logoPhrase1" x="0" y="0" dx="30" dy="63" font-size="32" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
            </svg>
    </div>
    <div class="row">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150"> 
              <text id="logoPhrase2" x="0" y="0" dx="0" dy="33" font-size="10" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="rideComfortably">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
              <text dx="0" dy="28" font-size="24" font-family="Verdana" fill="#4d4d4d">Ride Comfortably</text>
            </svg>
          </div>
    </div>
    <div class="row">
       <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="292" height="189">
          <g
     id="layer1">
    <g
       style="fill:#00804f;fill-opacity:1"
       transform="matrix(0.07622461,0,0,0.05626476,68.873806,65.561727)"
       id="g4499">
      <path
         style="stroke-width:0.81579769;fill:#00804f;fill-opacity:1"
         d="m 144.13301,198.22114 h 72.1995 c -26.60476,0 -48.133,-25.35815 -48.133,-56.63462 v -28.31731 c 48.133,0 48.133,-56.634601 48.133,-56.634601 0,0 0,56.634601 48.13301,56.634601 v 28.31731 c 0,31.27647 -21.57562,56.63462 -48.13301,56.63462 h 72.19951 c 13.30277,0 24.06651,-12.67908 24.06651,-28.31731 -13.30277,0 -24.06651,-12.67908 -24.06651,-28.31731 V 84.951914 C 288.53202,38.03722 256.19267,0 216.33251,0 c -39.90752,0 -72.1995,38.03722 -72.1995,84.951914 v 56.634606 c 0,15.63823 -10.78781,28.31731 -24.06651,28.31731 0,15.63823 10.7645,28.31731 24.06651,28.31731 z"
         id="path4485" />
      <path
         style="stroke-width:0.81579769;fill:#00804f;fill-opacity:1"
         d="m 288.53202,220.18785 h -48.133 l 24.0665,28.31732 -48.13301,84.95191 -48.133,-84.95191 24.06651,-28.31732 H 144.13301 C 117.52824,220.18785 96,245.546 96,276.82247 v 56.63461 56.63461 c 0,15.65238 10.76449,28.3173 24.0665,28.3173 h 192.53203 c 13.30275,0 24.0665,-12.66492 24.0665,-28.3173 v -56.63461 -56.63461 c 0,-31.27647 -21.57562,-56.63462 -48.13301,-56.63462 z"
         id="path4487" />
    </g>
    <path
       id="car"
       d="m 52.772228,63.203541 c -3.181961,0.26132 -5.178462,2.218141 -6.275583,4.960941 l -5.109767,13.02246 4.117579,-0.27286 4.489646,-11.41015 c 0.411424,-0.95998 1.509583,-1.89684 2.778125,-2.03398 11.844605,-1.55937 27.674483,-1.64555 41.200573,0 1.268542,0.13714 2.341902,1.074 2.753322,2.03398 l 4.489657,11.41015 4.11758,0.27286 -5.10978,-13.02246 c -1.097127,-2.7428 -3.100717,-4.643251 -6.250779,-4.960941 -11.866994,-1.196818 -28.026329,-1.081936 -41.200573,0 z m 20.587885,16.668751 c -9.365866,0.0435 -18.710942,0.87919 -28.004484,2.00918 -3.880039,0.543 -6.427296,1.38519 -7.813475,3.64628 -2.698527,4.4018 -1.136922,11.43496 5.432225,11.43496 h 26.813859 7.14375 26.813872 c 6.56914,0 8.13075,-7.03316 5.43222,-11.43496 -1.38618,-2.26109 -3.93343,-2.80563 -7.81347,-3.34863 -9.300509,-1.01834 -18.636368,-2.35034 -28.004497,-2.30683 z m -28.748624,5.03535 c 2.68801,0 4.861715,2.17371 4.861715,4.86171 0,2.688 -2.173705,4.88653 -4.861715,4.88653 -2.688004,0 -4.886522,-2.19853 -4.886525,-4.88653 0,-2.688 2.198521,-4.86173 4.886525,-4.86171 z m 57.522061,0 c 2.68801,-2e-5 4.86172,2.17371 4.86172,4.86171 -1e-5,2.688 -2.17371,4.88653 -4.86172,4.88653 -2.688017,0 -4.886527,-2.19853 -4.886527,-4.88653 0,-2.688 2.19851,-4.86171 4.886527,-4.86171 z m -64.591396,13.17128 c -0.683776,0 -1.240234,0.53166 -1.240234,1.21543 v 1.637108 c 0,0.68378 0.556458,1.26504 1.240234,1.26504 h 2.381248 v 7.66464 c 0,1.04904 0.860912,1.90996 1.909961,1.90996 h 7.267771 c 1.049049,0 1.909961,-0.8609 1.909961,-1.90996 v -7.66464 h 15.775779 13.171283 15.775786 v 7.66464 c 0,1.04906 0.83611,1.90996 1.88515,1.90996 h 7.267777 c 1.04906,0 1.90996,-0.86092 1.90996,-1.90996 v -7.66464 h 2.38125 c 0.68377,0 1.24024,-0.58126 1.24024,-1.26504 v -1.637108 c 0,-0.68377 -0.55646,-1.21543 -1.24024,-1.21543 H 77.552105 69.168121 Z"
       style="fill:#4f4f4f;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.26458332" />
  </g>










          <g id="carGroup" transform="scale(0.55 0.55)">
          <path id="car" d="M 62.32168,3.2317821 C 50.29537,4.2194521 42.74954,11.615292 38.60294,21.981782 l -19.312504,49.21874 15.562504,-1.03125 16.96874,-43.12499 c 1.55499,-3.62827 5.70551,-7.16916 10.5,-7.6875 44.76701,-5.89367 104.59647,-6.21939 155.71871,0 4.79448,0.51834 8.85126,4.05923 10.40625,7.6875 l 16.96874,43.12499 15.5625,1.03125 -19.3125,-49.21874 C 237.51875,11.615292 229.94613,4.4325121 218.04039,3.2317821 c -44.85164,-4.52341 -105.92629,-4.08921003 -155.71871,0 z m 77.81248,62.9999899 c -35.39855,0.16437 -70.71852,3.32294 -105.84372,7.59375 C 19.625726,75.877802 9.9982958,79.060892 4.7591958,87.606762 -5.4399642,104.24347 0.46216587,130.8255 25.29044,130.8255 l 101.34372,0 27,0 101.34372,0 c 24.82826,0 30.7304,-26.58203 20.53124,-43.218738 -5.2391,-8.54587 -14.86652,-10.60396 -29.53124,-12.65625 -35.1515,-3.84883 -70.43662,-8.88316 -105.84372,-8.71874 z M 31.47794,85.263012 c 10.15941,0 18.37499,8.2156 18.37499,18.374998 0,10.15937 -8.21558,18.46877 -18.37499,18.46874 -10.159384,0 -18.468744,-8.30937 -18.468754,-18.46874 0,-10.159388 8.30937,-18.375048 18.468754,-18.374998 z m 217.40619,0 c 10.15938,-5e-5 18.375,8.21561 18.375,18.374998 -3e-5,10.15937 -8.21562,18.46874 -18.375,18.46874 -10.15941,3e-5 -18.46874,-8.30937 -18.46874,-18.46874 0,-10.159398 8.30933,-18.374998 18.46874,-18.374998 z M 4.7591958,135.04425 c -2.58435,0 -4.68749993,2.0094 -4.68749993,4.59375 l 0,6.1875 c 0,2.58435 2.10314993,4.78124 4.68749993,4.78124 l 8.9999902,0 0,28.96875 c 0,3.96486 3.25384,7.21874 7.21875,7.21874 l 27.468744,0 c 3.96491,0 7.21875,-3.25382 7.21875,-7.21874 l 0,-28.96875 59.62499,0 49.78123,0 59.62499,0 0,28.96875 c 0,3.96492 3.16011,7.21874 7.125,7.21874 l 27.46874,0 c 3.96492,0 7.21875,-3.25388 7.21875,-7.21874 l 0,-28.96875 8.99999,0 c 2.58432,0 4.6875,-2.19689 4.6875,-4.78124 l 0,-6.1875 c 0,-2.58435 -2.10315,-4.59375 -4.6875,-4.59375 l -119.53121,0 -31.6875,0 -119.5312142,0 z" style="fill:#4f4f4f;fill-opacity:1;fill-rule:evenodd;stroke:none"/>
          </g>
        <g id="driverGroup" transform="scale(.12 .08)" fill="#00804f">
            <path d="m160,224h96c-35.375,0-64-28.656-64-64v-32c64,0,64-64,64-64s0,64,64,64v32c0,35.344-28.688,64-64,64h96 c17.688,0,32-14.328,32-32c-17.688,0-32-14.328-32-32V96c0-53.016-43-96-96-96c-53.063,0-96,42.984-96,96v64    c0,17.672-14.344,32-32,32C128,209.672,142.313,224,160,224z"/>
            <path d="m352,288h-64l32,32l-64,96l-64-96l32-32h-64c-35.375,0-64,28.656-64,64v64v64c0,17.688,14.313,32,32,32h256 c17.688,0,32-14.312,32-32v-64v-64C416,316.656,387.312,288,352,288z"/>
        </g>
       </svg>
    </div>


    <div class="row">
          <div id="rideSafely">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
              <text dx="0" dy="28" font-size="24" font-family="Verdana" fill="#4d4d4d">Ride Safely</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="requestRideBtnDiv">
            <button id="requestRideBtn" type="button">Get A Ride</button>
          </div>
    </div>




</div>

