<div class="container-fluid">
    <div class="row">      
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="700" height="150"> 
            <g id="entireLogo" transform="scale(1 1)">
              <rect id="logoBox" x="0" y="0" width="0" height="0" fill="#00804f" rx="12" ry="12"/>
              <g id="logoLetters" style="visibility:hidden">
              <circle id="ds1" cx="53" cy="53" r="25" stroke="#4A4A4A" stroke-width="4" fill="#4A4A4A" style="visibility:hidden"/>  
  
              <circle id="letterO" cx="50" cy="50" r="25" stroke="white" stroke-width="4" fill="none"/>
  
              <path id="ds2" d="M92 74 v-30 m0 30 v-20 a2 2 0 0 1 20 0 v21" stroke-width="4" stroke="#505050" stroke-linecap="round" fill="none" style="visibility:hidden"/>  

              <path id="letterN" d="M90 72 v-30 m0 30 v-20 a2 2 0 0 1 20 0 v21" stroke-width="4" stroke="white" stroke-linecap="round" fill="none"/>

              <path id="letterT" d="M123 30 h36 m-18 0 v 45" stroke-linejoin="round" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />

              <path id="letterY" d="M167 45 l13 26 m14 -26 l-23 48" stroke-width="4" stroke-linecap="round" stroke="#00804f" />

              <path id="letterM" d="M209 40 v35 m0 -25 a2 2 0 0 1 20 0 v25 m0 -25 a2 2 0 0 1 20 0 v25" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />

              <path id="letterE" d="M268 54 h32 a2 2 0 0 0 -35 1 a2 2 0 0 0 35 8" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />
              </g>

              <g id="clock" style="visibility:hidden">
                <line id="hourHand" x1="50" y1="50" x2="50" y2="33" stroke="#ffffff" stroke-width="2" transform="rotate(60 50 50)"/>
                <line id="minuteHand" x1="50" y1="50" x2="50" y2="33" stroke="#ffffff" stroke-width="2" transform="rotate(-30 50 50)"/>
                <line id="secondHand" x1="50" y1="50" x2="50" y2="30" stroke="#000000" stroke-width="2" transform="rotate(0 50 50)"/>
                <circle cx="50" cy="50" r="3" stroke="#000000" fill="#000000" />
              </g>
            </g>
            </svg>  
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150">
              <text id="logoPhrase1" x="0" y="0" dx="30" dy="63" font-size="32" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
            </svg>
    </div>
    <div class="row">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150"> 
              <text id="logoPhrase2" x="0" y="0" dx="0" dy="33" font-size="32" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="rideComfortably">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
              <text dx="10" dy="33" font-size="32" font-family="Verdana" fill="#4d4d4d">Ride Comfortably</text>
            </svg>
          </div>
    </div>
    <div class="row">
       <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="292" height="189"> 
          <g id="carGroup" transform="translate(0 0)">
          <path id="car" d="M 62.32168,3.2317821 C 50.29537,4.2194521 42.74954,11.615292 38.60294,21.981782 l -19.312504,49.21874 15.562504,-1.03125 16.96874,-43.12499 c 1.55499,-3.62827 5.70551,-7.16916 10.5,-7.6875 44.76701,-5.89367 104.59647,-6.21939 155.71871,0 4.79448,0.51834 8.85126,4.05923 10.40625,7.6875 l 16.96874,43.12499 15.5625,1.03125 -19.3125,-49.21874 C 237.51875,11.615292 229.94613,4.4325121 218.04039,3.2317821 c -44.85164,-4.52341 -105.92629,-4.08921003 -155.71871,0 z m 77.81248,62.9999899 c -35.39855,0.16437 -70.71852,3.32294 -105.84372,7.59375 C 19.625726,75.877802 9.9982958,79.060892 4.7591958,87.606762 -5.4399642,104.24347 0.46216587,130.8255 25.29044,130.8255 l 101.34372,0 27,0 101.34372,0 c 24.82826,0 30.7304,-26.58203 20.53124,-43.218738 -5.2391,-8.54587 -14.86652,-10.60396 -29.53124,-12.65625 -35.1515,-3.84883 -70.43662,-8.88316 -105.84372,-8.71874 z M 31.47794,85.263012 c 10.15941,0 18.37499,8.2156 18.37499,18.374998 0,10.15937 -8.21558,18.46877 -18.37499,18.46874 -10.159384,0 -18.468744,-8.30937 -18.468754,-18.46874 0,-10.159388 8.30937,-18.375048 18.468754,-18.374998 z m 217.40619,0 c 10.15938,-5e-5 18.375,8.21561 18.375,18.374998 -3e-5,10.15937 -8.21562,18.46874 -18.375,18.46874 -10.15941,3e-5 -18.46874,-8.30937 -18.46874,-18.46874 0,-10.159398 8.30933,-18.374998 18.46874,-18.374998 z M 4.7591958,135.04425 c -2.58435,0 -4.68749993,2.0094 -4.68749993,4.59375 l 0,6.1875 c 0,2.58435 2.10314993,4.78124 4.68749993,4.78124 l 8.9999902,0 0,28.96875 c 0,3.96486 3.25384,7.21874 7.21875,7.21874 l 27.468744,0 c 3.96491,0 7.21875,-3.25382 7.21875,-7.21874 l 0,-28.96875 59.62499,0 49.78123,0 59.62499,0 0,28.96875 c 0,3.96492 3.16011,7.21874 7.125,7.21874 l 27.46874,0 c 3.96492,0 7.21875,-3.25388 7.21875,-7.21874 l 0,-28.96875 8.99999,0 c 2.58432,0 4.6875,-2.19689 4.6875,-4.78124 l 0,-6.1875 c 0,-2.58435 -2.10315,-4.59375 -4.6875,-4.59375 l -119.53121,0 -31.6875,0 -119.5312142,0 z" style="fill:#00804f;fill-opacity:1;fill-rule:evenodd;stroke:none"/>
          </g>
       </svg>
    </div>


    <div class="row">
          <div id="rideSafely">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
              <text dx="10" dy="33" font-size="32" font-family="Verdana" fill="#4d4d4d">Ride Safely</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="requestRideBtnDiv">
            <button id="requestRideBtn" type="button">Get A Ride</button>
          </div>
    </div>




</div>

