<div class="container-fluid">
    <div class="row">      
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="700" height="150"> 
            <g id="entireLogo" transform="scale(1 1)">
              <rect id="logoBox" x="0" y="0" width="0" height="0" fill="#00804f" rx="12" ry="12"/>
              <g id="logoLetters" style="visibility:hidden">
              <circle id="ds1" cx="53" cy="53" r="25" stroke="#4A4A4A" stroke-width="4" fill="#4A4A4A" style="visibility:hidden"/>  
  
              <circle id="letterO" cx="50" cy="50" r="25" stroke="white" stroke-width="4" fill="none"/>
  
              <path id="ds2" d="M92 74 v-30 m0 30 v-20 a2 2 0 0 1 20 0 v21" stroke-width="4" stroke="#505050" stroke-linecap="round" fill="none" style="visibility:hidden"/>  

              <path id="letterN" d="M90 72 v-30 m0 30 v-20 a2 2 0 0 1 20 0 v21" stroke-width="4" stroke="white" stroke-linecap="round" fill="none"/>

              <path id="letterT" d="M123 30 h36 m-18 0 v 45" stroke-linejoin="round" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />

              <path id="letterY" d="M167 45 l13 26 m14 -26 l-23 48" stroke-width="4" stroke-linecap="round" stroke="#00804f" />

              <path id="letterM" d="M209 40 v35 m0 -25 a2 2 0 0 1 20 0 v25 m0 -25 a2 2 0 0 1 20 0 v25" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />

              <path id="letterE" d="M268 54 h32 a2 2 0 0 0 -35 1 a2 2 0 0 0 35 8" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />
              </g>

              <g id="clock" style="visibility:hidden">
                <line id="hourHand" x1="50" y1="50" x2="50" y2="33" stroke="#ffffff" stroke-width="2" transform="rotate(60 50 50)"/>
                <line id="minuteHand" x1="50" y1="50" x2="50" y2="33" stroke="#ffffff" stroke-width="2" transform="rotate(-30 50 50)"/>
                <line id="secondHand" x1="50" y1="50" x2="50" y2="30" stroke="#000000" stroke-width="2" transform="rotate(0 50 50)"/>
                <circle cx="50" cy="50" r="3" stroke="#000000" fill="#000000" />
              </g>
            </g>
            </svg>  
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150">
              <text id="logoPhrase1" x="0" y="0" dx="30" dy="63" font-size="32" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
            </svg>
    </div>
    <div class="row">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150"> 
              <text id="logoPhrase2" x="0" y="0" dx="0" dy="33" font-size="10" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="rideComfortably">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
              <text dx="0" dy="28" font-size="24" font-family="Verdana" fill="#4d4d4d">Ride Comfortably</text>
            </svg>
          </div>
    </div>
    <div class="row">
       <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="292" height="189">
 <g
     id="carGroup">
    <g
       style="fill:#00804f;fill-opacity:1"
       transform="matrix(2.8571427e-6,0,0,2.0758927e-6,0.00108771,1.5005502e-5)"
       id="g5625">
      <path
         style="fill:#00804f;fill-opacity:1"
         d="m 160,224 h 96 c -35.375,0 -64,-28.656 -64,-64 v -32 c 64,0 64,-64 64,-64 0,0 0,64 64,64 v 32 c 0,35.344 -28.688,64 -64,64 h 96 c 17.688,0 32,-14.328 32,-32 -17.688,0 -32,-14.328 -32,-32 V 96 C 352,42.984 309,0 256,0 202.937,0 160,42.984 160,96 v 64 c 0,17.672 -14.344,32 -32,32 0,17.672 14.313,32 32,32 z"
         id="path5611" />
      <path
         style="fill:#00804f;fill-opacity:1"
         d="m 352,288 h -64 l 32,32 -64,96 -64,-96 32,-32 h -64 c -35.375,0 -64,28.656 -64,64 v 64 64 c 0,17.688 14.313,32 32,32 h 256 c 17.688,0 32,-14.312 32,-32 v -64 -64 c 0,-35.344 -28.688,-64 -64,-64 z"
         id="path5613" />
    </g>
    <path
       d="m 6.2660556e-4,4.080062e-5 c -1.2027e-4,9.8767e-6 -1.9573e-4,8.38351e-5 -2.3719e-4,1.8750001e-4 l -1.9313e-4,4.921897e-4 1.5563e-4,-1.031e-5 1.6969e-4,-4.312547e-4 c 1.555e-5,-3.62827e-5 5.705e-5,-7.169161e-5 1.05e-4,-7.687501e-5 4.4767444e-4,-5.89367e-5 0.001045964,-6.21939e-5 0.001557184,0 4.795e-5,5.1834e-6 8.852e-5,4.059231e-5 1.0407e-4,7.687501e-5 l 1.6968e-4,4.312547e-4 1.5563e-4,1.031e-5 -1.9313e-4,-4.921897e-4 C 0.00237858,1.2463572e-4 0.00230285,5.280792e-5 0.00218379,4.080062e-5 c -4.4851e-4,-4.52340985e-5 -0.00105926,-4.089209847e-5 -0.001557184,0 z M 0.00140473,6.7080054e-4 c -3.5398e-4,1.6437e-6 -7.0718444e-4,3.322979e-5 -0.001058444,7.593979e-5 -1.4664e-4,2.052e-5 -2.4292e-4,5.235e-5 -2.9531e-4,1.3781e-4 C -5.1014443e-5,0.00105091 8.0055565e-6,0.00131674 2.5628556e-4,0.00131674 h 0.001013444 2.7e-4 0.00101344 c 2.4828e-4,0 3.073e-4,-2.6583e-4 2.0531e-4,-4.3218967e-4 -5.239e-5,-8.546e-5 -1.4866e-4,-1.0604e-4 -2.9531e-4,-1.2656e-4 -3.5152e-4,-3.849e-5 -7.0437e-4,-8.883399e-5 -0.00105844,-8.718979e-5 z M 3.18166e-4,8.6111033e-4 c 1.0159e-4,0 1.8375e-4,8.215967e-5 1.8375e-4,1.8374967e-4 0,1.0159e-4 -8.216e-5,1.8469e-4 -1.8375e-4,1.8469e-4 -1.016e-4,0 -1.8469e-4,-8.31e-5 -1.8469e-4,-1.8469e-4 0,-1.0159e-4 8.309e-5,-1.8374967e-4 1.8469e-4,-1.8374967e-4 z m 0.002174064,0 c 1.016e-4,0 1.8375e-4,8.215967e-5 1.8375e-4,1.8374967e-4 0,1.0159e-4 -8.215e-5,1.8469e-4 -1.8375e-4,1.8469e-4 -1.0159e-4,0 -1.8469e-4,-8.31e-5 -1.8469e-4,-1.8469e-4 0,-1.0159e-4 8.31e-5,-1.8374967e-4 1.8469e-4,-1.8374967e-4 z M 5.097556e-5,0.00135892 c -2.5840003e-5,0 -4.68700035e-5,2.01e-5 -4.68700035e-5,4.594e-5 v 6.188e-5 c 0,2.584e-5 2.10300005e-5,4.781e-5 4.68700035e-5,4.781e-5 h 9e-5 v 2.8968e-4 c 0,3.965e-5 3.254e-5,7.219e-5 7.219e-5,7.219e-5 h 2.7469e-4 c 3.965e-5,0 7.218e-5,-3.254e-5 7.218e-5,-7.219e-5 v -2.8968e-4 h 5.9625444e-4 4.9782e-4 5.9625e-4 v 2.8968e-4 c 0,3.965e-5 3.16e-5,7.219e-5 7.125e-5,7.219e-5 h 2.7468e-4 c 3.965e-5,0 7.219e-5,-3.254e-5 7.219e-5,-7.219e-5 v -2.8968e-4 h 9e-5 c 2.584e-5,0 4.688e-5,-2.197e-5 4.688e-5,-4.781e-5 v -6.188e-5 c 0,-2.584e-5 -2.104e-5,-4.594e-5 -4.688e-5,-4.594e-5 H 0.00156317 0.00124629 Z"
       id="path2001"
       style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.00001" />
  </g>
       </svg>
    </div>


    <div class="row">
          <div id="rideSafely">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
              <text dx="0" dy="28" font-size="24" font-family="Verdana" fill="#4d4d4d">Ride Safely</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="requestRideBtnDiv">
            <button id="requestRideBtn" type="button">Get A Ride</button>
          </div>
    </div>




</div>

