<div class="container-fluid">
    <div class="row">      
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="700" height="150"> 
            <g id="entireLogo" transform="scale(1 1)">
              <rect id="logoBox" x="0" y="0" width="0" height="0" fill="#00804f" rx="12" ry="12"/>
              <g id="logoLetters" style="visibility:hidden"> 
  
              <circle id="letterO" cx="50" cy="50" r="25" stroke="white" stroke-width="4" fill="none"/> 

              <path id="letterN" d="M90 72 v-30 m0 30 v-20 a2 2 0 0 1 20 0 v21" stroke-width="4" stroke="white" stroke-linecap="round" fill="none"/>

              <path id="letterT" d="M123 30 h36 m-18 0 v 45" stroke-linejoin="round" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />

              <path id="letterY" d="M167 45 l13 26 m14 -26 l-23 48" stroke-width="4" stroke-linecap="round" stroke="#00804f" />

              <path id="letterM" d="M209 40 v35 m0 -25 a2 2 0 0 1 20 0 v25 m0 -25 a2 2 0 0 1 20 0 v25" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />

              <path id="letterE" d="M268 54 h32 a2 2 0 0 0 -35 1 a2 2 0 0 0 35 8" stroke="#00804f" stroke-width="4" stroke-linecap="round" fill="none" />
              </g>

              <g id="clock" style="visibility:hidden">
                <line id="hourHand" x1="50" y1="50" x2="50" y2="33" stroke="#ffffff" stroke-width="2" transform="rotate(60 50 50)"/>
                <line id="minuteHand" x1="50" y1="50" x2="50" y2="33" stroke="#ffffff" stroke-width="2" transform="rotate(-30 50 50)"/>
                <line id="secondHand" x1="50" y1="50" x2="50" y2="30" stroke="#000000" stroke-width="2" transform="rotate(0 50 50)"/>
                <circle cx="50" cy="50" r="3" stroke="#000000" fill="#000000" />
              </g>
            </g>
            </svg>  
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150">
              <text id="logoPhrase1" x="0" y="0" dx="30" dy="63" font-size="32" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
            </svg>
    </div>
    <div class="row">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150"> 
              <text id="logoPhrase2" x="0" y="0" dx="0" dy="33" font-size="10" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="rideComfortably">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
              <text dx="0" dy="28" font-size="24" font-family="Verdana" fill="#4d4d4d">Ride Comfortably</text>
            </svg>
          </div>
    </div>
    <div class="row">
       <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="292" height="189">
 <g
     id="carGroup">
     <g
     transform="translate(-2.1515531,-19.631449)"
     id="layer1">
    <g
       style="fill:#00804f;fill-opacity:0.94117647" stroke="#00804f" stroke-width="1"
       transform="matrix(1.0090909,0,0,1.0092279,-433.08502,-153.85032)"
       id="g4499">
      <path
         style="fill-opacity:0.94117647" stroke="#00804f" stroke-width="1" d="m 590.28572,224.54187 h 23.57142 c -8.68582,0 -15.71428,-6.24644 -15.71428,-13.95074 v -6.97537 c 15.71428,0 15.71428,-13.95074 15.71428,-13.95074 0,0 0,13.95074 15.71429,13.95074 v 6.97537 c 0,7.7043 -7.04393,13.95074 -15.71429,13.95074 h 23.57143 c 4.34304,0 7.85715,-3.12322 7.85715,-6.97537 -4.34304,0 -7.85715,-3.12322 -7.85715,-6.97537 v -13.95074 c 0,-11.55644 -10.55803,-20.9261 -23.57143,-20.9261 -13.02886,0 -23.57142,9.36966 -23.57142,20.9261 v 13.95074 c 0,3.85215 -3.52197,6.97537 -7.85715,6.97537 0,3.85215 3.51436,6.97537 7.85715,6.97537 z"
         id="carPart1" />
      <path
         style="fill-opacity:0.94117647" stroke="#00804f" stroke-width="1" d="m 637.42857,228.02956 h -15.71428 l 7.85714,6.97537 -15.71429,20.9261 -15.71428,-20.9261 L 606,228.02956 h -15.71428 c -8.68583,0 -15.71429,6.24644 -15.71429,13.95074 v 13.95073 13.95074 c 0,3.85564 3.51435,6.97538 7.85714,6.97538 h 62.85715 c 4.34303,0 7.85714,-3.11974 7.85714,-6.97538 V 255.93103 241.9803 c 0,-7.7043 -7.04393,-13.95074 -15.71429,-13.95074 z"
         id="carPart2" />
    </g>
    <path stroke="#000000" stroke-width="1" d="m 64.473239,22.863231 c -12.02631,0.98767 -19.57214,8.38351 -23.71874,18.75 l -19.31251,49.21874 15.56251,-1.03125 16.96874,-43.12499 c 1.55499,-3.62827 5.70551,-7.16916 10.5,-7.6875 44.767011,-5.89367 104.596471,-6.21939 155.718711,0 4.79448,0.51834 8.85126,4.05923 10.40625,7.6875 l 16.96874,43.12499 15.5625,1.03125 -19.3125,-49.21874 c -4.14663,-10.36649 -11.71925,-17.54927 -23.62499,-18.75 -44.85164,-4.52341 -105.92629,-4.08921 -155.718711,0 z m 77.812481,62.99999 c -35.39855,0.16437 -70.718521,3.32294 -105.843721,7.59375 -14.66472,2.05228 -24.29215,5.235369 -29.53125,13.781229 -10.1991603,16.63671 -4.2970303,43.21874 20.53125,43.21874 h 101.343721 27 101.34372 c 24.82826,0 30.7304,-26.58203 20.53124,-43.21874 -5.2391,-8.54586 -14.86652,-10.603949 -29.53124,-12.656239 -35.1515,-3.84883 -70.43662,-8.88316 -105.84372,-8.71874 z M 33.629499,104.89445 c 10.15941,0 18.37499,8.2156 18.37499,18.375 0,10.15937 -8.21558,18.46877 -18.37499,18.46874 -10.15939,0 -18.46875,-8.30937 -18.46876,-18.46874 0,-10.15939 8.30937,-18.37505 18.46876,-18.375 z m 217.406191,0 c 10.15938,-5e-5 18.375,8.21561 18.375,18.375 -3e-5,10.15937 -8.21562,18.46874 -18.375,18.46874 -10.15941,3e-5 -18.46874,-8.30937 -18.46874,-18.46874 0,-10.1594 8.30933,-18.375 18.46874,-18.375 z M 6.910749,154.67569 c -2.5843503,0 -4.6875003,2.0094 -4.6875003,4.59375 v 6.1875 c 0,2.58435 2.10315,4.78124 4.6875003,4.78124 h 8.99999 v 28.96875 c 0,3.96486 3.25384,7.21874 7.21875,7.21874 h 27.46875 c 3.96491,0 7.21875,-3.25382 7.21875,-7.21874 v -28.96875 h 59.624991 49.78123 59.62499 v 28.96875 c 0,3.96492 3.16011,7.21874 7.125,7.21874 h 27.46874 c 3.96492,0 7.21875,-3.25388 7.21875,-7.21874 v -28.96875 h 8.99999 c 2.58432,0 4.6875,-2.19689 4.6875,-4.78124 v -6.1875 c 0,-2.58435 -2.10315,-4.59375 -4.6875,-4.59375 h -119.53121 -31.6875 z"
       id="carPart3"
       style="fill:#000000;fill-opacity:1;fill-rule:evenodd" />
  </g>
       </g>
       </svg>
    </div>
    <div class="row">
          <div id="rideSafely">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
              <text dx="0" dy="18" font-size="16" font-family="Verdana" fill="#4d4d4d">Ride With Confidence and In Comfort</text>
            </svg>
          </div>
    </div>
    <div class="row">
          <div id="requestRideBtnDiv">
            <button id="requestRideBtn" type="button">Get A Ride</button>
          </div>
    </div>
    <div class="row">
      <div id="termsOfService">
              By clicking "Get A Ride", you agree to the <span>terms of service</span> and <span>privacy policy</span> of Ontyme Inc
      </div>
    </div>



</div>

