<div class="container">
  <h3 class="headline">New User Sign-Up - It's Quick & Easy</h3>
  <p class="text-center signup-page-copy">No Passwords or complex registration.  To get started choose the hotel you work at, an icon and nickname.</p>
  <div class="row">
    <div class="col-lg-12">
      <%= render 'forms/sign-up-form' %>
    </div>
  </div>
</div>
