<div class="modal fade" id="locationRequestModal" tabindex="-1" role="dialog" aria-labelledby="locationRequestModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" id="icon-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" id="close-button">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>AirportRun requires your location to operate.  Please allow location use.</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="reloada">Ok</button>
          <button type="button" class="btn btn-danger" id="close_due_to_location-permission">No, close tab</button>
      </div>
    </div>
  </div>
</div>
