<div class="modal fade" id="driverArrivedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="hidMod">

    <div id="slider-main">
      <div class="slider-content">
      <div class="modal-header ride-request-modal-header">
                <h4 class="modal-title ontyme-title" id="myModalLabel1">Arrived</h4>
      </div>
      <div class="modal-body">
        <h1>You have arrived!</h1>
      </div>
      </div> <!-- end div id="slider-content" -->
      </div> <!-- end div id="slider-main" -->

      <div class="modal-footer ride-request-modal-footer">
      </div>
    </div>
  </div>
</div>