<div class="modal fade" id="driverRideRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="hidMod">

    <div id="slider-main">
      <div class="slider-content">
      <div class="modal-header ride-request-modal-header">
                <h4 class="modal-title ontyme-title" id="myModalLabel1">Ride Request</h4>
      </div>
      <div class="modal-body" id="rideRequestModalBody">
        <div id="driverRequestData">
          <div style="width:48%; height:30%; display: inline-block">
          <h4>From: </h4>
          <input id="trip_request_id" type="hidden" value="1">
          <p id="pickup_street"></p>
          <p id="pickup_city"></p>
          <p id="pickup_state"></p>
          <p id="pickup_postalcode"></p>
          </div>
          <div style="width:48%; height:30%; display: inline-block">
          <h4>To: </h4>
          <p id="destination_street"></p>
          <p id="destination_city"></p>
          <p id="destination_state"></p>
          <p id="destination_postalcode"></p>
          </div>
          <div id="map-on-request" style="width: 100%; height: 55%"></div>
          <p><button class="btn btn-lg btn-danger" type="button" style="float:left" onclick="acceptRequest(0)">Reject</button><button class="btn btn-lg btn-primary" style="float:right;" type="button" onclick="acceptRequest(1)">Accept</button></p>
        </div>

        <div id="driverRequestCancel"></div>
      </div>
      </div> <!-- end div id="slider-content" -->
      </div> <!-- end div id="slider-main" -->
      <audio id="driverRideRequestAudio"></audio>

      <div class="modal-footer ride-request-modal-footer">
      <img id="marker3" src="/marker.png">
      </div>
    </div>
  </div>
</div>