<div class="modal fade" id="rideRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="hidMod">

    <div id="slider-main">
      <div class="slider-content">
      <div class="modal-header ride-request-modal-header">
                <h4 class="modal-title ontyme-title" id="myModalLabel1">Ride Request - Your Destination</h4>
      </div>
      <div class="modal-body" id="here1">
              <div class="shift-div" id="div1">Where are you going?</div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sliderNextBtn" onclick="void(0)">Next</button>
      </div>
      </div> <!-- end div id="slider-content" -->

      <div class="slider-content" id="content2">
      <div class="modal-header ride-request-modal-header">
      <h4 class="modal-title ontyme-title" id="myModalLabel2">Your Pickup Location</h4>
      </div>
      <div class="modal-body" id="here2">
              <div class="shift-div" id="div1">Where are we picking you up from?</div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sliderBackBtn" onclick="void(0)">Back</button>
      </div>
      </div> <!-- end div id="slider-content" -->
      
      </div> <!-- end div id="slider-main" -->


      <div class="modal-footer ride-request-modal-footer">

      </div>
    </div>
  </div>
</div>