 <script type="text/javascript">
     findLatLng(1,1,1);
</script>

 <div id="mainContainer">
  
<div id="map" style="width: 100%; height: 200px"></div>
<div id="midSectionDiv">


<h2 id="driverCurrentStatus">You are <%= DriverCurrentStatus.find_by(driver_id2: params[:id] ).status %> </h2>
<div id="requestRideBtnDiv">
  <button id="becomeActiveBtn" type="button" onclick="changeDriverStatus()">Go Online</button>
</div>


<div id="rideSafely">
</div>

</div> <!-- midSectionDiv -->

<div id="termsOfServiceParent">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
    <text dx="0" dy="18" font-size="16" font-family="Verdana" font-weight="bold" fill="white">Ride With Confidence and In Comfort</text>
  </svg>

</div>
</div>

<img id="marker" src="/marker.png">

<script type="text/javascript">
     var key = 'pk.eyJ1IjoibWFwcGVybSIsImEiOiJjajRrOGlrdGkwZ3N2MnFxanF1ZTZnZzNnIn0.xrT2S657GvVZ3NXZ0Qu5dg';

      // Calculation of resolutions that match zoom levels 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21.
      var resolutions = [];
      for (var i = 0; i <= 10; ++i) {
        resolutions.push(156543.03392804097 / Math.pow(2, i * 2));
      }
      // Calculation of tile urls for zoom levels 1, 3, 5, 7, 9, 11, 13, 15.
      function tileUrlFunction(tileCoord) {
        return ('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwcGVybSIsImEiOiJjajRrOGlrdGkwZ3N2MnFxanF1ZTZnZzNnIn0.xrT2S657GvVZ3NXZ0Qu5dg')
            .replace('{z}', String(tileCoord[0] * 2 - 1))
            .replace('{x}', String(tileCoord[1]))
            .replace('{y}', String(-tileCoord[2] - 1));
      }

      var map = new ol.Map({
        layers: [
          new ol.layer.Tile({
            source: new ol.source.XYZ({
              url:'https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwcGVybSIsImEiOiJjajRrOGlrdGkwZ3N2MnFxanF1ZTZnZzNnIn0.xrT2S657GvVZ3NXZ0Qu5dg' 
              })
          })
        ],
        target: 'map',
        view: new ol.View({
          center: [60,40],
          minZoom: 1,
          zoom: 5
        })
      });


      var marker = new ol.Overlay({
        element: document.getElementById("marker"),
        positioning: 'center-center',
        autoPan: true
      });

      map.addOverlay(marker);

      function recenterMap() {
        if (coordinates) {
          var p = map.getView().getProjection();
          var cord = ol.proj.fromLonLat([coordinates.longitude, coordinates.latitude], p);
          map.getView().setCenter(cord);
          map.getView().setZoom(13);
          setTimeout(function() {map.updateSize()}, 50);
          marker.setPosition(cord);
          watchPos();
        } else {
          setTimeout(function() {recenterMap()}, 100);
        }
      }

      function watchPos() {
        window.navigator.geolocation.watchPosition(function(position){ 
          var p = map.getView().getProjection();
          var coords = ol.proj.fromLonLat([position.coords.longitude, position.coords.latitude], p);
          map.getView().setCenter(coords);
          setTimeout(function() {map.updateSize()}, 50);
          marker.setPosition(coords);
        },geolocateError, {enableHighAccuracy: true, maximumAge: 0});
      }

      recenterMap();


</script>

<%= render 'modals/driver-ride-request' %>