 <script type="text/javascript">
     findLatLng(1,1,1);
</script>

<div id="mainContainer" style="width: 100%; height: 100%">
<div id="directions" style="width: 100%; height: 0%">
	<div id="distance" style="display: inline-block; width:20%; height:100%; border: 2px solid blue"></div>
	<div id="instruction" style="display: inline-block; width:75%; height:100%; border: 2px solid green"></div>
</div>  
<div id="map" style="width: 100%; height: 55%"></div>
<div id="startNavButton" style="width:100%; height:0%; border: 2px solid green">
	<button class="btn btn-lg btn-primary" type="button" onclick="startNav()">Navigate to Pickup Spot</button>
</div>
<div id="midSectionDiv">


<h2 id="driverCurrentStatus">You are <%= DriverCurrentStatus.find_by(driver_id2: params[:id] ).status %> </h2>
<div id="requestRideBtnDiv">
  <button id="becomeActiveBtn" type="button" onclick="changeDriverStatus()">Go Online</button>
</div>


<div id="rideSafely">
</div>

</div> <!-- midSectionDiv -->

<div id="termsOfServiceParent">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
    <text dx="0" dy="18" font-size="16" font-family="Verdana" font-weight="bold" fill="white">Ride With Confidence and In Comfort</text>
  </svg>

</div> <!-- termsOfServiceParent Div -->
</div> <!-- mainContainer Div -->

<img id="marker" src="/marker.png">
<img id="marker2" src="/marker.png">

<script type="text/javascript">
 startMap();
</script>

<%= render 'modals/driver-ride-request' %>