 <script type="text/javascript">
     findlatlng(1,1,1);
</script>

 <div id="mainContainer">
  <div id="topSectionDiv">
   <svg id="entireLogo" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="75"> 
    <g id="entireLogo1" transform="scale(1 1)">

      <g id="logoPart1" transform="scale(1 1)">

        <rect id="logoBox" x="0" y="0" width="0" height="0" fill="#00aa77" rx="12" ry="12"></rect>
        <g transform="translate(-10 -10)">
          <g id="logoLetters" style="visibility:hidden"> 

            <circle id="letterO" cx="50" cy="50" r="25" stroke="white" stroke-width="6" fill="#00aa77"></circle> <!-- fill="#88eebf" -->

            <path id="letterN" d="M87 71 v-30 m0 10 a2 2 0 0 1 20 0 v20" stroke-width="5" stroke="white" fill="none"></path>

            <path d="M102 30 h18" stroke-linejoin="round" stroke="#ffffff" stroke-width="5" fill="none" ></path>

            <path id="letterT" d="M121 30 h18 h-18 v42"  stroke="#00aa77" stroke-width="5" fill="none" ></path>

            <path id="letterY" d="M133 40 v15 q-1 11 10 10 h10 m0 -25 v35 q1 11 -10 10 h-11" stroke-width="5" stroke="#00aa77" fill="none"></path>

            <path id="letterM" d="M167 71 v-30 m0 10 a2 2 0 0 1 20 0 v20 m0 -20 a2 2 0 0 1 20 0 v20" stroke="#00aa77" stroke-width="5" fill="none" ></path>

            <path id="letterE" d="M220 54 h30 a2 2 0 0 0 -30 1 a2 2 0 0 0 30 3" stroke="#00aa77" stroke-width="5" fill="none" ></path>
          </g> <!-- end  <g id="logoLetters" --> 
          <g id="clock" style="visibility:hidden">
            <rect id="bar1" fill="#f8f8f8" x="49" y="30" width="3" height="7"></rect>
            <rect id="bar2" fill="#f8f8f8" x="63" y="49" width="7" height="3"></rect>
            <rect id="bar3" fill="#f8f8f8" x="49" y="63" width="3" height="7"></rect>
            <rect id="bar4" fill="#f8f8f8" x="30" y="49" width="7" height="3"></rect>
            <line id="hourHand" x1="50" y1="50" x2="50" y2="33" stroke="#505050" stroke-width="2" transform="rotate(60 50 50)"></line>
            <line id="minuteHand" x1="50" y1="50" x2="50" y2="33" stroke="#505050" stroke-width="2" transform="rotate(-30 50 50)"></line>
            <line id="secondHand" x1="50" y1="50" x2="50" y2="30" stroke="#990000" stroke-width="1" transform="rotate(0 50 50)"></line>
            <circle cx="50" cy="50" r="3" stroke="none" fill="#353535" ></circle>
            <circle id="blockCircle" cx="50" cy="50" r="22" stroke="none" fill="#00aa77" fill-opacity="1"></circle>
          </g> <!-- end  <g id="clock"  --> 
        </g> <!-- end <g transform="translate(-10 -10)"  --> 
      </g> <!-- end <g id="logoPart1"   --> 
      <g id="logoPart2">
        <text id="logoPhrase2" font-family="Arial" font-weight="bold" stroke="none" fill="#4f554f">Women Drivers for Women Riders</text>
      </g> <!-- end  <g id="logoPart2">   -->
    </g> <!-- end  <g id="entireLogo1" --> 
  </svg>  
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="300" height="150">
    <text id="logoPhrase1" x="0" y="0" dx="30" dy="63" font-size="32" font-family="Verdana" fill="#4d4d4d">Women Drivers For Women Passengers</text>
  </svg>
  <div id="logoPhrase2Parent">
    <button id="signUpBtn">Sign Up</button>
  </div>
</div> <!-- end topSectionDiv -->

<div id="midSectionDiv">

<h2 id="driverCurrentStatus">You are <%= DriverCurrentStatus.find_by(driver_id: params[:id] ).status %> </h2>
<div id="requestRideBtnDiv">
  <button id="becomeActiveBtn" type="button" onclick="changeDriverStatus()">Go Online</button>
</div>


<div id="rideSafely">
</div>

</div> <!-- midSectionDiv -->

<div id="termsOfServiceParent">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1"> 
    <text dx="0" dy="18" font-size="16" font-family="Verdana" font-weight="bold" fill="white">Ride With Confidence and In Comfort</text>
  </svg>

</div>
</div>


<%= render 'modals/driver-ride-request' %>