/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div.ride-request-modal-header {
    background: #00aa77; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00cc7e, #00aa77); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00cc7e, #00aa77); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00cc7e, #00aa77); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00cc7e, #00aa77); /* Standard syntax */
	color: white;
}

.ride-request-modal-footer {
    background-color: #4f554f;    /* #66aa88;   #00aa77; */
    background: -webkit-linear-gradient(#4f554f,#333333); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4f554f, #333333); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4f554f,#333333); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4f554f, #333333); /* Standard syntax */
}

.shift-div {
	display: inline-block;
	width: 100%;
}

#slider-main {
	overflow: hidden;
	width: 3000px;
}

.slider-content {
	overflow: hidden;
	display: inline-block;
}

#myModalLabel1, #myModalLabel2	{
	overflow: hidden;
}


#hidMod {
	overflow: hidden;
}

.ride-request-modal-header {
	justify-content: none;
}

.address-list {
	border-bottom: 1px solid lightgray;
	transition: font-size 0.2s;
	-webkit-transition: font-size 0.2s;
	font-size: 1em;
	color: white;
}

.address-list:hover {
	background-color: darkblue;
	color: white;
	font-size: 1.2em;
}

.address-list-a:hover {
	color: white;
}