body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

#requestRideBtnDiv {
    width: 100%;
}

#requestRideBtn {
    background: #00804f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00cc7e, #00804f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00cc7e, #00804f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00cc7e, #00804f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00cc7e, #00804f); /* Standard syntax */
    border: none;
    color: white;
    text-align: center;
    display: block;
    font-size: 3em;
    margin: auto;
    width: 80%;
    padding: 10px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#termsOfService {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    width: 80%;
}

#logoPhrase1Div {
    display: inline-block;
}

@media(min-width: 0px) {
    #doNotShow1, #doNotShow2, #doNotShow3, #doNotShow4, #doNotShow5, #intro, #sign-up-page, #current-users-page, #contact {
        display: none;
    }
    
    #logoPhrase1 {
        display: none;
    }

    #logoPhrase2 {
        display: block;
        margin-left: 15px;
    }

    #requestRideBtnDiv, #rideSafely, #rideComfortably {
        display: block;
    }
}


@media(min-width: 568px) {
    #doNotShow1, #doNotShow2, #doNotShow3, #doNotShow4, #doNotShow5, #intro, #sign-up-page, #current-users-page, #contact {
        display: none;
    }

    #logoPhrase1 {
        display: none;
    }

    #logoPhrase2 {
        display: block;
        margin-left: 15px;
    }

    #requestRideBtnDiv, #rideSafely, #rideComfortably {
        display: block;
    }

}


@media(min-width: 768px) {
    .navbar {
        padding: 0px 0px 25px 0px;
        margin: 0;
        border-radius: 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }

    #doNotShow1, #doNotShow2, #doNotShow3, #doNotShow4, #doNotShow5, #intro, #sign-up-page, #current-users-page, #contact {
        display: none;
    }

    #logoPhrase1 {
        display: none;
    }

    #logoPhrase2 {
        display: block;
        margin-left: 15px;
    }

    #requestRideBtnDiv, #rideSafely, #rideComfortably {
        display: block;
    }

}

@media(min-width: 992px) {
    #doNotShow1, #doNotShow2, #doNotShow3, #doNotShow4, #doNotShow5, #intro, #sign-up-page, #current-users-page, #contact {
        display: block;
    }

    #logoPhrase1 {
        display: block;
        margin-top: 55px;
    }

    #logoPhrase2 {
        display: none;
    }

    #requestRideBtnDiv, #rideSafely, #rideComfortably {
        display: none;
    }

}

@media(min-width: 1200px) {
    #doNotShow1, #doNotShow2, #doNotShow3, #doNotShow4, #doNotShow5, #intro, #sign-up-page, #current-users-page, #contact {
        display: block;
    }

    #logoPhrase1 {
        display: block;
        margin-top: 55px;
    }

    #logoPhrase2 {
        display: none;
    }

    #requestRideBtnDiv, #rideSafely, #rideComfortably {
        display: none;
    }

}


/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */
.home-section {
    height: 100%;
    padding-top: 150px;
    background-image:
      linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url('main_image');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
    position: relative;
}

.sign-up-section {
    height: 100%;
    padding-top: 70px;
    text-align: center;
    background: #13232f;
}

.current-users-section {
    height: 100%;
    padding-top: 10px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

#sign-up-form {
  background-color:#DBE6E0;
  padding: 10px;
  max-width:500px;
  height:225px;
  margin:10px auto;
  border-radius:4px;
}
