// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-header {
  text-align: center;
  font-size: 64px;
}

.logo-2 {
  margin-left: 16px;
  font-color:tan;
}

#sign-up-form {
  display: none;
}
