// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-styles {
  background-color:transparent;
  border-bottom-color: transparent;
}

.navbar-brand>img {
  display: inline;
}

.logo {
  font-size: 32px;
  text-shadow: 0 1px 0 black;
  color: white;
  margin-left: 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.pull {
  font-size: 40px;
  text-shadow: 0 1px 0 black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.headline {
  font-size: 35px;
  text-shadow: 0 1px 0 black;
  color: white;
}

.tag {
  font-size: 40px;
  text-shadow: 0 1px 0 black;
  color: white;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  border: 1px solid white;
  background-color: transparent;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

.ghost-button:hover, .ghost-button:active {
  color: black;
  text-decoration: none;
  background-color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}
#homepage-button-row {
  position: relative;
  top: 100px;
}
.position-relative {
  position: relative;
}

.control-label-in {
  position: absolute;
  left: 1.2em;
  top:0.45em;
  letter-spacing: .03em;
  white-space: nowrap;
  font-weight: 300;
  font-size: 0.80em;
  color: #009cde;
}

.control-label-hide {
  position: absolute;
  left: 1.1em;
  top: 2.4em;
  letter-spacing: .03em;
  white-space: nowrap;
  font-weight: 300;
  font-size: 0.85em;
  visibility: hidden;
}

#nickname-input {
  height: 56px;
}

.homepage_copy {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight:lighter;
}

.signup-page-copy {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

.icons {
  text-decoration: none;
}

.icon-box {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  padding: 10px;
  border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon-box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon-box:hover {
  box-shadow: 0 9px #999;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1, 1);
  transform: scale(1.1, 1.1);
}

.icon-box:focus {
  box-shadow: 0 9px #999;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1, 1);
  transform: scale(1.1, 1.1);
}

.icon-box:active {
  background-color: rgba(0, 0, 0, 0.5);
}

#icon-modal {
  background-color: black;
}

#myModalLabel {
  color: orange;
  text-align: center;
}

input#nickname-input {
  font-size: 16px;
}

.close {
  color: red;
  opacity: 100;
}
